[package]
name = "litra-autotoggle"
version = "0.6.1"
edition = "2021"
authors = ["Tim Rogers <timrogers@github.com>"]
description = "Automatically turn your Logitech Litra device on when your webcam turns on, and off when your webcam turns off (macOS and Linux only)"
repository = "https://github.com/timrogers/litra-autotoggle"
license = "MIT"
readme = "README.md"
categories = ["hardware-support", "command-line-utilities"]
keywords = ["logitech", "litra", "glow", "beam", "light"]

# TODO: Remove this once we're on a newer tokio version that doesn't trip this up
# https://github.com/tokio-rs/tokio/pull/6874
[lints.clippy]
needless_return = "allow"

[[bin]]
name = "litra-autotoggle"
path = "src/main.rs"

[dependencies]
clap = { version = "4.5.39", features = ["derive"] }
litra = "2.2.0"
tokio = { version = "1.44.1", features = ["full"] }

[target.'cfg(target_os = "linux")'.dependencies]
inotify = { version = "0.11.0" }
