[package]
name = "litra-autotoggle"
version = "1.0.0"
edition = "2021"
authors = ["Tim Rogers <timrogers@github.com>"]
description = "Automatically turn your Logitech Litra device on when your webcam turns on, and off when your webcam turns off (macOS and Linux only)"
repository = "https://github.com/timrogers/litra-autotoggle"
license = "MIT"
readme = "README.md"
categories = ["hardware-support", "command-line-utilities"]
keywords = ["logitech", "litra", "glow", "beam", "light"]

[[bin]]
name = "litra-autotoggle"
path = "src/main.rs"

[dependencies]
clap = { version = "4.5.54", features = ["derive"] }
env_logger = "0.11.5"
litra = { version = "3.1.0", default-features = false }
log = "0.4.29"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.9"
tokio = { version = "1.49.0", features = ["full"] }

[target.'cfg(target_os = "linux")'.dependencies]
inotify = { version = "0.11.0" }

[dev-dependencies]
tempfile = "3.24"
